body {
    background-image: url("images/mic.jpg");
    background-repeat: no-repeat;   /* nezopakuje obrázek */
    background-size: cover;        /* roztáhne na celou stránku */
    background-position: center;   /* vystředí obrázek */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: black;
    text-shadow: 1px 1px 0 black, 
               -1px -1px 0 black, 
               -1px 1px 0 black, 
               1px -1px 0 black;
    margin: 0px;
    padding: 0px;
}

header {
    
    color: white;
    margin: 20px 20px 0px 20px;
    padding: 10px 20px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

header h1 {

    font-size: 48px; /* zvětší text */
}

nav {
    background: white;
    text-align: center;
    border-radius: 80px;
    font-size: 34px; /* zvětší text */
}

nav ul {
    margin: 0px;
    padding: 5px 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav li {
    display: inline-block;
    margin: auto;
}

nav a {
    color: white;
    text-decoration: none;
    margin-top: 60px;
}

nav .selected {
    font-weight: bold;
    background: black;
    background-clip: border-box;
    -webkit-background-clip: text; /* ořezání gradientu do textu */
    -webkit-text-fill-color: transparent; /* text sám o sobě průhledný */
    text-shadow: none;
}

nav .selected a {
    font-weight: bold;
    color: black;
    text-shadow: none;
}

.submenu {
    display: none;
    position: absolute;
    top: 200%;
    left: -15%;
    background-color: white;
    padding: 0px 10px 10px 10px;
    margin: 0;
    z-index: 1000;
}

.submenu_r {
    display: none;
    position: absolute;
    top: 200%;
    left: -140%;
    background-color: white;
    padding: 0px 20px 20px 20px;
    margin: 0;
    z-index: 1000;
}

nav ul li {
    position: relative;
}

nav ul li .submenu li {
    margin-top: 10px;
}

nav ul li.active .submenu {
    display: block;
}

nav ul li .submenu_r li {
    margin-top: 15px;
    white-space: nowrap;
}

nav ul li.active .submenu_r {
    display: flex;
    flex-direction: column;
}

nav .znakp a {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: 100px;
    display: inline-block;
    position: relative;
    text-indent: -999999px;
    top: -60px;
    width: 100px;
    height: 140px;
    margin-bottom: -60px;
}

nav .znakb a {
    background-image: url(images/logob.png);
    background-repeat: no-repeat;
    background-size: 120px;
    display: inline-block;
    position: relative;
    text-indent: -999999px;
    top: -55px;
    width: 120px;
    height: 140px;
    margin-bottom: -60px;
}

.menu-toggle {
  display: none;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  margin: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}

.zazemi h2 {
  text-align: center;
}

.tym_a h2{
  text-align: center; /* zarovná text uvnitř */
}

.tym_a h3{
  text-align: center; /* zarovná text uvnitř */
}

.tym_b {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 2rem;
  gap: 2rem;
}

.tym_b_left {
  flex: 1;
  text-align: center;
}

.tym_b_right {
  flex: 1;
  text-align: center;
}

@media (max-width: 768px) {
  .tym_b {
    flex-direction: column;
    align-items: stretch;
  }
}

/* Pro mobilní zobrazení */
@media (max-width: 768px) {
  /* Zobrazit tlačítko menu */
  .menu-toggle {
    display: block;
  }

  nav {
    border-radius: 0; /* zruší zaoblení, pokud chceš */
    max-width: 400px; /* omezí šířku menu */
    margin: left; /* vycentruje menu */
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  nav ul.show {
    display: flex;
  }

  nav li {
    display: block;
    margin: 10px 0px;
  }

  .submenu {
    position: static;
    background-color: white;
    padding: 0;
    margin: 0 0 0 1rem;
  }

  .submenu_r {
    position: static;
    background-color: white;
    padding: 0;
    margin: 0 0 0 1rem;
  }

  nav ul li.active .submenu {
    display: block;
  }

  .znakp,
  .znakb {
    display: none;
  }
}

section {
    color: white;
    margin: 0px 20px 0px 20px;
    padding: 10px 20px;
}

.slider {
  position: relative;
  padding: 35% 0px 0px 0px;
  
  width: 90%;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;          
  height: auto;         
  left: 10%;
  top: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.s_k h2 {
  text-align: center;
}

.kontakty {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
}

.space {
  padding-top: 80px;
}

/* Levý box */
.kontakty_left {
  flex: 1;
}

/* Pravý box */
.kontakty_right {
  flex: 1;
}

.kontakty_middle {
  text-align: center;
}

@media (max-width: 768px) {
  .kontakty {
    flex-direction: column;
    align-items: stretch;
  }
}

.prispevky{
  margin-left: 25%;
}

.prispevky ul {
  list-style-type: "-    ";
}

.galerie {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.text {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .galerie {
        flex-direction: column;
        align-items: center;
    }
}

.galerie img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.galerie img:hover {
    transform: scale(1.05);
}

.sponzori {
    text-align: center;
}

.sponzori-grid {
  background: white;
  display:inline-block;
  justify-content: center;
  gap: 2rem; /* mezery mezi logy */
}

.sponzori-grid img {
  height: 80px;       /* všechny loga budou stejně vysoká */
  width: auto;        /* šířka se dopočítá */
  object-fit: contain; /* udrží proporce */
  padding: 50px;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .sponzori-grid {
    display:grid;
    justify-content: center;
    gap: 2rem; /* mezery mezi logy */
  }

  .sponzori-grid img {
    height: 50px;       /* všechny loga budou stejně vysoká */
    width: auto;        /* šířka se dopočítá */
    object-fit: contain; /* udrží proporce */
    padding: 20px;
    margin: auto;
    transition: transform 0.3s ease;
  }
}

footer {

    margin: 0px 20px 20px 20px;
    padding: 10px 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}